#nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  label {
    border: 1px solid black;
    padding: 1px;
    display: block;
    border-radius: 999px;

    &::after {
      content: "";
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: black;
      border-radius: 999px;
      margin-right: 16px;
    }
  }

  input:checked+label::after {
    transform: translateX(16px);
  }
}

.error {
  color: #cd0909;
  font-weight: 500;
}

body:not(.no-styles) {
  font-family: Inter, 'Helvetica Neue', sans-serif;

  table {
    border-collapse: collapse;
    border: 1px solid #b8bbc0;
  }

  th,
  td {
    padding: 0.25rem 0.5rem;
  }

  tr:nth-child(even) {
    background-color: #e9ecf2;
  }
}